$grey: rgb(54, 57, 69);

$frenchblue: rgb(0, 114, 181);

$mint: rgb(0, 161, 112);

$greenash: rgb(160, 218, 169);

$orchid: rgb(146, 106, 166);

//https://erikafirm.com/blogs/posts/spring-summer-2021-pantone-color-trends
