@import "../scss/device.scss";
@import "../scss/colors.mixin.scss";
@import url("http://fonts.cdnfonts.com/css/operator-mono");

body {
  font-family: "NotoSansKR";
  // font-weight: lighter;
  // font-style: italic;
  font-size: 18px;
  line-height: 1.5rem;
  color: $grey;

  @include mobile {
    font-size: 16px;
  }
}

@font-face {
  font-family: "Operator Mono";
  src: url("http://fonts.cdnfonts.com/css/operator-mono");
  font-style: italic;
  unicode-range: U+41-5A, U+61-7A;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  unicode-range: U+0020-007E;
  font-style: normal;
}

main {
  display: grid;
  margin: 1em;
}

svg {
  width: 1.4em;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0.2em 0;
  line-height: 1.2em;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  // line-height: 1.5em;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  // line-height: 1.5em;
  font-weight: 900;
}

h4 {
  font-size: 1.2rem;
  // line-height: 1em;
  font-weight: 800;
}
